/* ===============================custom.css ================================== */

/* 设置菜单栏icon偏移位置 */
.menu-item-link .iconfont::before {
    padding-right: 3px;
}

/* 设置title字体大小 */
.header .logo-wrapper .logo {
    position: relative;
    font-size: 38px;
    line-height: 60px;
}

/* 让阅读更多居中 */
.read-more {
    text-align: right;
    padding: 0 0 20px;
}

/* 调整返回顶部icon位置和大小 */
.back-to-top {
    right: 60px;
    bottom: 45px;
    font-size: 4em;
}

/*高亮代码不显示行号*/
.post .post-content .highlight>.chroma .lntd:first-child {
    display: none;
}

